<%= form_with(url: params[:category] ? search_by_category_path(category: 'Project') : analytics_path , id: 'search', class: 'shadow-lg p-6 rounded', method: :get, data: { controller: "search-form", turbo_frame: "analytics", turbo_action: "advance" }) do |form| %>
  <div class=" flex-grow">
    <%= form.label :term, class: "text-center my-5 font-bold text-4xl hidden" %>
    <div class="relative border flex items-center border w-full h-12 rounded-lg focus-within:boder-none mt-2 focus-within:shadow-lg bg-white overflow-hidden">
      <div class="grid place-items-center h-full w-12 text-gray-300">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
        </svg>
      </div>
      <%= form.text_field :term, value: params[:term], autocomplete: "off",
                          placeholder: 'What can we help you with?',
                          class: "peer h-full w-full outline-none border-0 text-gray-700 pr-2", data: { action: "input->search-form#search" } %>
    </div>
  </div>
  <div class="form-group text-start p-2">
    <%= form.label :filter, class: 'form-label text-center mt-8 text-gray-600' %> <br/>
    <div class="flex flex-wrap gap-3">
      <%= form.collection_check_boxes :category_ids, @categories, :id, :name, include_hidden: false do |b| %>
        <div class="collection-check-box w-fit flex gap-2 items-baseline shadow py-2 px-2">
          <%= b.check_box(data: { action: "input->search-form#search" }) %>
          <%= b.label(class: 'capitalize text-sm') %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<%= render "searches", searches: @searches, term: params[:term] %>

<div class="flex flex-col md:flex-row gap-3 px-2 mt-6 ">
  <div class="md:w-3/4 shadow-lg border">
      <%= render "articles_trends", articles: @articles_trends %>
  </div>
  <div class="md:w-1/4 shadow-lg border">
    <%= render "searches_trends", searches: @search_trends %>
  </div>
</div>

