<div id="<%= dom_id article %>" class="h-fit my-2 ">
  <div class="rounded border flex-col flex gap-1 px-3 py-1 mb-1 h-full  shadow-sm relative">
    <div>
      <div class=" flex flex-col  py-2 font-bold">
        <span class=" text-blue-600">Title: </span> <%= article.title %>
      </div>
    </div>
    <% show_body ||= false %>
    <% if show_body%>
      <div>
        <span class="font-bold text-blue-600">Body: </span>
        <div class="markdown-body"><%= raw(markdown(article.body)) %></div>
      </div>
    <% end %>
    <div class="actions flex gap-2 absolute right-2 ">
      <% if action_name != "show" %>
        <%= link_to article, class: "app-btn btn-blue btn-sm shadow-md" do %>
          <i class="fa fa-solid fa-eye"></i>
        <% end %>
        <% if can? :update, @article %>
          <%= link_to edit_article_path(article), class: "app-btn btn-warning btn-sm  shadow-md" do %>
            <i class="fa fa-solid fa-edit"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
