<div id="<%= dom_id article %>" class="table-row ">
  <div class="px-3 py-2 mb-1 h-ful table-cell border-b px-1">
    <div>
      <div class="flex markdown-body">
        <% term ||= [] %>
        <% if term.length.zero? %>
          <%= article.title %>
        <% else %>
          <%= highlight(raw(markdown(article.title)), term.split) %>
        <% end %>
      </div>
    </div>
    <% show_body ||= false %>
    <% if show_body %>
      <div>
        <span class="font-bold text-blue-600">Body: </span>
        <div class="markdown-body"><%= raw(markdown(article.body)) %></div>
      </div>
    <% end %>
  </div>
  <div class="actions  border-b table-cell px-1  w-96 text-end align-middle">
    <% if action_name != "show" %>
      <%= link_to article, class: "app-btn btn-blue btn-sm  mx-1" do %>
        <i class="fa fa-solid fa-eye"> </i>
      <% end %>
      <% if can? :update, @article %>
        <%= link_to edit_article_path(article), class: "app-btn btn-warning btn-sm ml-2 shadow-md" do %>
          <i class="fa fa-solid fa-edit"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>
