<%= turbo_frame_tag "categories" do %>
  <div class="form-group text-start p-2">
    <h4 class="form-label h5">Categories</h4>
    <div class="flex flex-wrap gap-3">
      <% @categories.each_with_index do |item, id| %>
        <div class="collection-check-box w-fit flex gap-2 items-baseline shadow py-2 px-2">
          <input id="article_category_ids_<%= item.id %>" name="article[category_ids][]" type="checkbox" value="<%= item.id %>"/>
          <label for="article_category_ids_<%= item.id %>"><%= item.name %></label>
        </div>
      <% end %>
    </div>
  </div>
<% end %>