<%= form_with(model: article, class: "contents ") do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if action_name != 'edit' %>
    <div class="form-group text-start p-2 my-4">
      <%= form.label "Please Select Group", class: 'form-label h5 ' %> <br/>
      <div class="flex flex-wrap gap-3 my-3" data-controller="admin" data-turbo_action="advance" data-turbo_frame="categories">
        <%= form.collection_radio_buttons :group_id, @group, :id, :name, {}, { checked: @group.first } do |b| %>
          <div class="collection-check-box w-fit flex gap-2 items-baseline shadow py-2 px-2">
            <%= b.radio_button(data: { action: "input->admin#switch", admin_target: "category", origin: 'categories', url: group_path }) %>
            <%= b.label(class: 'capitalize text-sm') %>
          </div>
        <% end %>
        <div class="collection-check-box w-fit flex gap-2 items-baseline shadow py-2 px-2">
          <input data-action="input->admin#switch" checked data-admin-target="category" data-origin="categories" data-url="/general-requirement" type="radio" value="0" name="article[group_id]" id="article_group_id">
          <label class="capitalize text-sm" for="article_group_id">General Requirement</label>
        </div>
      </div>
    </div>
  <% end %>
  <div id="add-article" class="<%= "hidden" if @article.id.nil? %>">
    <div class="my-5">
      <%= form.label :title %>
      <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <% if action_name == "edit" %>
      <% @categories = @article.categories.first.parent_category.categories.filter_out_gen_req %>
    <% end %>

    <%= render "categories", default_cat: @article.categories.first %>
    <div class="my-5"  data-controller="admin" data-admin-target="category" data-origin="categories">
      <%= form.label :body %>
      <%= form.text_area :body, rows: '15', id: 'markdown', class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="form-group">
      <%= form.label :public, class: 'form-label' %>
      <%= form.check_box :public, class: 'form-check-input' %>
    </div>

    <div class="inline">
      <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  </div>

<% end %>
