<tr id="<%= dom_id search %>" class="border-b">
  <td class="p-2 ">
    <%= link_to '#', statistics_path(search), class: 'nav-link py-2 px-5 text-uppercase text-blue ' %>
  </td>

  <td class="p-2 ">
    <%= search.term %>
  </td>

  <td class="p-2 ">
    <%= search.occurrence %>
  </td>

  <td class="p-2  ">
    <%= search.user_count %>
  </td>

  <td class="p-2  ">
    <%= search.article_count %>
  </td>

  <td>
    <%= link_to 'View Stats', statistics_path(search), class: 'app-btn btn-blue btn-sm' %>
  </td>

</tr>

