<tr id="<%= dom_id search %>">
  <td class="border-b border-slate-100 dark:border-slate-700 p-2 text-slate-500 dark:text-slate-600">
    <%= link_to '#', statistics_path(search), class: 'nav-link py-2 px-5 text-uppercase text-blue ' %>
  </td>

  <td class="border-b border-slate-100 dark:border-slate-700 p-2 text-slate-500 dark:text-slate-600">
    <%= search.term %>
  </td>

  <td class="border-b border-slate-100 dark:border-slate-700 p-2 text-slate-500 dark:text-slate-600">
    <%= search.occurrence %>
  </td>

  <td class="border-b border-slate-100 dark:border-slate-700 p-2 text-slate-500 dark:text-slate-600">
    <%= search.user_count %>
  </td>

  <td class="border-b border-slate-100 dark:border-slate-700 p-2 text-slate-500 dark:text-slate-600">
    <%= search.article_count %>
  </td>

  <td>
    <%= link_to 'View Stats', statistics_path(search), class: 'nav-link text-uppercase text-blue ' %>
  </td>

</tr>

