<div class="relative flex flex-col justify-center min-h-screen overflow-hidden">
  <div class="w-full p-6 m-auto bg-white rounded-md shadow-md lg:max-w-xl">
    <h1 class="text-3xl font-semibold text-center text-clrSec">
      <span class="text-xl text-clrPrime">Welcome</span>
    </h1>
    <div class="text-center text-red-600">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger text-success"><%= alert %></p>
      <% end %>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), remote: true, data: { turbo: false }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="my-2">
        <%= f.label :email, class: "block text-sm font-semibold text-gray-800" %><br/>
        <%= f.email_field :email,
                          autofocus: true,
                          autocomplete: "email",
                          class: "block shadow rounded-md border border-gray-200 my-0 outline-none px-3 py-2 w-full",
                          placeholder: "Enter your email",
                          required: true
        %>
      </div>

      <div class="mt-6">
        <%= f.label :password, class: "block text-sm font-semibold text-gray-800" %><br/>
        <%= f.password_field :password,
                             autocomplete: "current-password",
                             class: "block w-full px-4 py-2 text-clrPrime bg-white border rounded-md focus:border-clrPrime focus:ring-clrPrime focus:outline-none focus:ring focus:ring-opacity-20",
                             minLength: 6,
                             placeholder: "Enter your password",
                             required: true
        %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <a
        href="<%= new_user_password_path %>"
        class="text-xs text-blue-900 hover:underline"
      >
        Forget Password?
      </a>
      <div class="actions my-3">
        <%= f.submit "Login", class: "w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-900 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-clrPrime cursor-pointer" %>
      </div>
    <% end %>
    <p class="mt-8 text-xs font-light text-center text-gray-700">
      Don&apos;t have an account?
      <%= link_to ' Sign up', new_user_registration_path, class: 'font-medium text-clrPrime hover:underline' %>
    </p>
  </div>
</div>