<%= turbo_frame_tag "searches" do %>
  <% if params[:term].present? && @pagy.present? && @pagy.count > 0  %>
    <div class="px-6 py-4 shadow">
      <h2 class="font-bold text-xl mb-2"> <%= @pagy.count %> Results </h2>
      <div class="flex  items-center justify-center  w-full">
        <%== pagy_nav(@pagy) %>
      </div>
      <p class="text-center mt-6 text-gray-500"><%== pagy_info @pagy %></p>
    </div>
  <% end %>
  <div class="grid grid-cols-2 justify-between">
    <% searches.each do |article| %>
      <div class="px-4 py-2 border border-b border-gray-200">
        <% if term.present? %>
          <%= link_to visit_url(:article_id => article.id, :term => term), class: 'mb-2' do %>
            <div class="shadow-lg">
              <div class="px-6 py-4">
                <h2 class="font-bold text-xl mb-2"><%= highlight(article.title, term.split) %></h2>
                <p class="text-gray-700 text-base">
                  <%= highlight((sanitize markdown(article.body)), term.split) %>
                </p>
              </div>
              <div class="px-6 pt-4 pb-2">
                <% article.categories.each do |category| %>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#<%= category.name %>
        </span>

                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="flex  items-center justify-center  mt-6 w-full">
    <% if @pagy.present? && @pagy.count > 0 %>
      <%== pagy_nav(@pagy) %>
    <% end %>
  </div>
<% end %>