<%= form_with(url: searches_path, method: :get, data: { controller: "search-form", turbo_frame: "searches", turbo_action: "advance" }) do |form| %>
  <div class="my-5">
    <%= form.label :term %>
    <%= form.text_field :term, autocomplete: "off", placeholder: 'What can we help you with?', class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", data: { action: "input->search-form#search" } %>
  </div>
  <div class="inline">
    <%= form.submit "Search", autocomplete: "off", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
<%= render "searches", searches: @searches, term: @term %>

