<tr id="<%= dom_id category %>" >
  <td class="">
    <span class="capitalize font-bold "><%= category.name %></span>
  </td>
  <td class="text-center">
    <span><%= category.count_articles %> </span>
  </td>
  <td class="actions flex justify-end pr-2">
    <% if can? :manage, @category %>
      <% if action_name != "show" %>
        <%= link_to category, class: "app-btn btn-blue btn-sm ml-1 rounded-lg" do %>
          <i class="fa fa-solid fa-eye"></i>
        <% end %>
        <%= link_to edit_category_path(category), class: "app-btn btn-warning btn-sm ml-1  rounded-lg" do %>
          <i class="fa fa-solid fa-edit"></i>
        <% end %>
        <% if can? :destroy, @category %>
          <%= button_to category_path(category), method: :delete, class: "app-btn btn-warning btn-sm ml-1 text-white rounded-lg  bg-red-600" do %>
            <i class="fa fa-solid fa-trash"></i>
          <% end %>

        <% end %>
      <% end %>
    <% end %>
  </td>

</tr>
