<div class="grid grid-cols-1 mx-3 rounded">
  <h3 class="text-2xl text-blue-600">General Requirements</h3>
  <div id='accordion' data-controller="hello">
    <% Category.general_req.includes(:articles).each_with_index do |group, index| %>
      <div
        class="rounded-t-lg border border-neutral-200 bg-white dark:border-neutral-600 dark:bg-neutral-800">
        <h2 class="mb-0" id="<%= "heading#{index}" %>">
          <button
            class="stop-propagation group relative flex w-full items-center rounded-t-[15px] border-0 bg-white py-4 px-5 text-left text-base text-neutral-800 transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none dark:bg-neutral-800 dark:text-white [&:not([data-te-collapse-collapsed])]:bg-white [&:not([data-te-collapse-collapsed])]:text-primary [&:not([data-te-collapse-collapsed])]:[box-shadow:inset_0_-1px_0_rgba(229,231,235)] dark:[&:not([data-te-collapse-collapsed])]:bg-neutral-800 dark:[&:not([data-te-collapse-collapsed])]:text-primary-400 dark:[&:not([data-te-collapse-collapsed])]:[box-shadow:inset_0_-1px_0_rgba(75,85,99)]"
            type="button"
            data-action="click->hello#toggleAccordion"
            data-te-collapse-init
            data-te-target="<%= "#collapse#{index}" %>"
            aria-expanded="false"
            aria-controls="<%= "collapse#{index}" %>">
            <div class="capitalize pl-1 text-blue-600 flex gap-2 flex-grow">
              <div class="flex relative bg-blue-500 justify-center items-center w-4 h-4 mt-1 rounded-full ">
              </div>
              <%= group.name.split('-').last %>
            </div>
            <span
              class="ml-auto h-5 w-5 shrink-0 icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
          </svg>
        </span>
          </button>
        </h2>
      </div>
      <div class=" border-l border-r border-b mb-2 px-2">
        <div
          id="<%= "collapse#{index}" %>"
          class="hidden mb-3"
          data-te-collapse-item
          data-te-collapse-show
          aria-labelledby="<%= "heading#{index}" %>"
          data-te-parent="#accordion">
          <% group.articles.each do |item| %>
            <div class="py-1 px-5 flex justify-between">
              <div class="collection-check-box w-fit  w-full flex gap-2 items-baseline  py-2 px-2" data-controller="admin" data-turbo_action="advance" data-turbo_frame="changes">
                <input id="article_category_ids_<%= item.id %>" data-url="/review/<%= item.id %>" name="article[category_ids][]" data-origin="changes" type="checkbox" checked="checked" value="<%= item.id %>" data-action="input->admin#checklist" data-admin-target="category"/>
                <label for="article_category_ids_<%= item.id %>"><%= item.title %></label>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>