<div class="form-group text-start">
  <h4 id="project-title" class="form-label m1-4 text-blue-600 font-bold text-3xl">Please Select Project</h4>
  <div class="flex flex-col items-center">
    <div id="project-search-container" class="w-full flex flex-col items-center">
      <div class="w-full">
        <div class="flex flex-col items-center relative">
          <div class="w-full">
            <div class="my-2 p-1 bg-white flex items-center border border-gray-200 rounded" data-controller="search-form" data-turbo_action="advance">
              <div class="grid place-items-center h-full w-12 text-gray-300">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                </svg>
              </div>
              <input id="filter-project" placeholder="Please type the project name" class="p-1 px-2 appearance-none outline-none w-full text-gray-800" data-action="input->search-form#filterProject focus->search-form#showBox  ">
              <div id="cross-btn" class="text-gray-300 w-8 py-1 pl-2 pr-1 border-l flex items-center border-gray-200 hidden">
                <button class="cursor-pointer w-6 h-6 text-gray-600 outline-none focus:outline-none" data-action="click->search-form#hideBox">
                  <%= render 'partials/icons/cross' %>
                </button>
              </div>
            </div>
          </div>
          <div id="projects-list" class="hidden absolute shadow bg-white top-100 z-10 w-full lef-0 rounded max-h-select overflow-y-auto ">
            <div class="flex flex-col w-full" data-controller="admin" data-turbo_action="advance" data-turbo_frame="reviews">
              <% Category.projects_categories.filter_out_gen_req.includes(:parent_category).each do |item| %>
                <div class="cursor-pointer w-full border-gray-100 rounded-t border-b hover:bg-gray-300 wrapper ">
                  <div class="flex w-full items-center p-2 pl-2 border-transparent border-l-2 relative hover:border-blue-600 stop-propagation"
                       data-action="click->admin#switch"
                       data-admin-target="category"
                       data-url="<%= checklist_path %>"
                       data-origin="reviews"
                       id="review_group_id_<%= item.id %>"
                       data-value="<%= item.id %>"
                  >
                    <div class="w-6 flex flex-col items-center">
                      <div class="flex relative bg-blue-500 justify-center items-center w-4 h-4 mt-1 rounded-full ">
                      </div>
                    </div>
                    <div class="w-full items-center flex">
                      <div class="mx-2 ">
                        <div id="project-<%= item.id %>" class="projects"><%= item.name %></div>
                        <div class="text-xs truncate w-full normal-case font-normal -mt-1 text-gray-500"><%= item.parent_category.name %></div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="shadow-lg">
  <h4 id="project-title" class="form-label my-4 text-blue-600 font-bold text-3xl"></h4>
  <div class="grid-cols-2 grid gap-3 mt-2  border py-3">
    <div class="max-h-screen-90 overflow-y-auto border-r">
      <%= render "gen_req" %>
      <%= render "checklist" %>
    </div>

    <div class="">
      <%= render "review" %>
    </div>
  </div>


</div>


