<!DOCTYPE html>
<html>
<head>
  <title>Sharingan</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap', 'application.css' %>
  <%= javascript_importmap_tags %>
  <%#= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<aside>
  <!-- This is used to open the menu -->
  <div data-controller="hello" class="m-4 absolute z-10 ">
    <span class="cursor-pointer text-blue-900 text-4xl" id="open" data-action="click->hello#openMenu">&#9776;</span>
  </div>
  <%= render 'partials/nav' %>
</aside>
<main class="xl:ml-64 " id="main">
  <%= render 'partials/header' %>
  <% if notice.present? %>
    <div class="w-full flex justify-center mt-3">
      <p class="py-2 px-3  bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    </div>

  <% end %>
  <% if alert %>
    <p class="alert alert-danger text-success"><%= alert %></p>
  <% end %>
  <div id="toasts" class="fixed flex gap-1 flex-col items-center z-50 w-full max-w-xs space-x-4  divide-x top-20 right-5 " role="alert">
  </div>

  <div class="container flex mx-auto align-items-start justify-center h-screen mt-6">
    <div class="w-full md:w-11/12 mx-auto">
      <%= yield %>
    </div>
  </div>
  <%= render 'partials/dialog' %>
</main>
</body>
</html>
