<!DOCTYPE html>
<html>
<head>
  <title>Sharingan</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap','application.css' %>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<aside>
  <%= render 'partials/nav' %>
</aside>
<main class="xl:ml-64 ">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger text-success"><%= alert %></p>
  <% end %>
  <div class="container mx-3 align-items-start justify-center h-screen mt-6">
    <div class="lg:w-10/12 w-11/12 mx-auto">
      <%= yield %>
    </div>
  </div>
</main>
</body>
</html>
